{%extends 'base.html'%}
{% block content %}
{{ block.super}}



<body>
    <div style="margin-top:160px;background-color: white" class="container">
        <div clas="row">

            <div class="col-md-4 col-sm-4 col-xs-8">
                <img style="border-radius:100px;height:200px;width:200px;margin-top:20px"
                    src="{{profile.profile_pic.url}}" class="img-responsive" alt="Image">


                <hr>
                <h3><b>{{user.username}}</b></h3>
                <hr>

                <p class="bio"><b>Bio</b> {{profile.bio }}</p>
                <hr>
                <p><b>Contact</b> {{profile.contact}}</p>
                <hr>

                <p class="btn btn-default"> <a style="text-decoration:none;color:black"
                        href="{% url 'update_profile' user.id %}">Edit profile</a></p>

            </div>

            <div class="col-md-8 col-sm-8 col-xs-12">

                <h4 class="text-center"><strong>Your posts</strong></h4>
                {% for post in posts %}
                <div class=" post">

                    <div class="col-md-4">

                        <img src="{{post.descriptive_picture.url}}" class="img-responsive" alt='image'>
                    </div>
                    <div class="col-md-8">
                        <img style="width:50px;height:50px;border-radius:100px" src="{{post.profile.profile_pic.url}}"
                            class="img-responsive" alt='image'><b style="font-family: 'Merienda', cursive;">
                            {{post.owner.username}}</b>
                        <h3 style="font-family: 'Merienda', cursive;"> {{post.post_title}}</h3>
                        <p style="font-family: 'Merienda', cursive;">{{post.text}}</p>
                        <br><br><br><br>
                    </div>
                </div>
                {% endfor %}

                <hr>


            </div>
        </div>
        <hr>
    </div>

    <br><br><br><br>
</body>
{% endblock %}