{% block content %}
<style>
    .form {
        margin-top: 20px;
        margin-bottom: 30px;
        -webkit-box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.75);
        box-shadow: -1px 2px 10px -2px rgba(0, 0, 0, 0.75);
        padding: 30px
    }
</style>

<body>
    <link href="https://fonts.googleapis.com/css?family=Luckiest+Guy|Merienda|Monoton|Ultra&display=swap"
        rel="stylesheet">
    <title>Update</title>
    {{form.media}}
    {% load bootstrap3 %} {% load staticfiles %}
    {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> {% endblock %}

    </head>
    <div style="background-color: black;top:0;width:100%" class="jumbotron">
        <h1 class="text-center" style="color:white;font-family: 'Merienda', cursive;">Welcome to the Hood</h1>
    </div>

    <body style="background-color: white">

        <div class="container" style="margin-top:50px;">
            <div class="row">
                <div class="col-md-3 col-xs-2"></div>
                <div class="col-md-6 col-xs-8">

                    <h2 style="font-family: 'Merienda', cursive;" class="text-center">Setup your profile first</h2><br>
                    <div class="form">
                        <form style="background-color: white" action="{% url 'setup_profile' hood.id %}" method="post"
                            enctype="multipart/form-data">
                            {%csrf_token%}

                            {% bootstrap_form form%}
                            <input type="submit" class="btn " value="Submit">

                        </form>
                    </div>
                    {% block scripts %}
                    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
                    {% bootstrap_javascript %} {% endblock %}
                </div>
            </div>
            <div class="col-md-3 col-xs-2"></div>
        </div>
    </body>
    {% endblock %}